# eLABJournal and jupyter : samples
Access to your eLABJournal samples from jupyter

Use the elabjournal package, create an object to access the API.

In [1]:
from elabjournal import elabjournal
eLAB = elabjournal.api()

Welcome Matthijs Brouwer
Package version '0.0.9'
Your active group is 'PB Mushrooms' (1056)

In [2]:
#always use a specific group for this example
eLAB.set_group(1056)

## Samples

A samples object can be created that describes all the samples.

In [3]:
samples = eLAB.samples()
samples

Samples (23567x)

The available fields for the samples can be listed.

In [4]:
samples.fields()

['archived',
 'barcode',
 'checkedOut',
 'created',
 'creatorID',
 'description',
 'name',
 'note',
 'owner',
 'parentSampleID',
 'position',
 'sampleType.backgroundColor',
 'sampleType.foregroundColor',
 'sampleType.groupID',
 'sampleType.name',
 'sampleType.sampleTypeID',
 'sampleType.userID',
 'sampleTypeID',
 'seriesID',
 'storageLayerID',
 'userID']

A method is available to browse the samples, optionally restricting the output to a set of fields and defining a custom page size.

In [5]:
#samples.show(["barcode", "name", "sampleType.name"], 3)
samples.all(["barcode", "name", "sampleType.name"], 3)

                  barcode     name sampleType.name
sampleID
2478221   005000002478221  AJX-172        Mycelium
2452139   005000002452139     SR 5        Mycelium
2452142   005000002452142     SR 5        Mycelium

Get the first sample of this set

In [6]:
firstSample = samples.first()

## Filtering

Filter **samples** by name

In [7]:
#example sample name
sampleName = firstSample.name()
sampleName

'AJX-172'

In [8]:
samplesByName = eLAB.samples(name=sampleName)
samplesByName

Samples (1x)

Filter **samples** by sampleTypeID or **sample type object**

In [9]:
#example sampleType
sampleType = firstSample.sample_type()
sampleType

Sample type 'Mycelium' (3394)

In [10]:
#example sampleTypeID
sampleTypeID = sampleType.id()
sampleTypeID

3394

In [11]:
samplesBySampleType = eLAB.samples(sampleType)
samplesBySampleType

Samples (23079x)

In [12]:
samplesBySampleTypeID = eLAB.samples(sampleTypeID=sampleTypeID)
samplesBySampleTypeID

Samples (23079x)

See `help(eLAB.samples)` for more options

## Select single sample

In [13]:
firstSample = samples.first()
firstSampleId = firstSample.id()
firstSample

Sample 'AJX-172' (2478221)

In [14]:
sample = eLAB.sample(firstSampleId)

In [15]:
sample.id()

2478221

In [16]:
sample.name()

'AJX-172'

In [17]:
sample.sample_type()

Sample type 'Mycelium' (3394)

## Sample series

A **sample series object** can be created that describes all the samples.

In [18]:
sampleSeries = eLAB.sample_series()
sampleSerie = sampleSeries.first()
sampleSerie

Sample serie 'G1074c/1' (51728)

In [19]:
sampleSerie.samples()

{2451059: Sample 'G1074c/1' (2451059), 2451062: Sample 'G1074c/1' (2451062)}

## Samples and Series

Get single samples and sample series in an aggregated list.

In [24]:
samplesAndSeries = eLAB.samples_and_series()
samplesAndSeries

Samples and Series (16182x)

In [25]:
samplesAndSeries.first()

Sample serie 'AJX-172' (70034)

See `help(eLAB.samples_and_series)` for more options

## Barcode
For each **sample object** and **sample serie object**, the barcode method can be used to get the sample identifying barcode in an integer/string representation.

In [20]:
barcodeSample = sample.barcode()
barcodeSampleSerie = sampleSerie.barcode()
print(barcodeSample)
print(barcodeSampleSerie)

005000002478221
011000000051728

From this barcode, the original sample object can be created.

In [21]:
eLAB.barcode(barcodeSample)

Sample 'AJX-172' (2478221)

In [22]:
eLAB.barcode(barcodeSampleSerie)

Sample serie 'G1074c/1' (51728)